/* -----------INICIO RESET------------- */

*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

/* -----------FINAL RESET-------------- */

/* ---------INICIO MENU-NAV------------ */

body {
	background-color: rgb(10, 10, 10);
	color: rgb(94, 94, 94);
}

p {
	color: white;
}

a{
	text-decoration: none;
	color: white;
}

li {
	list-style: none;
}


header{
	display: flex;
	min-height: 70px;
	background-color: rgb(2, 2, 2);
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

/* INICIO / LOGOTIPO - HEADER */

#logo-nav {
	display: flex;
	align-items: center;
	padding-left: 10px;
}

.logo-nav {
	display: flex;
	align-items: center;
}

#logo {
	width: 60px;
	height: 60px;
}


/* FINAL / LOGOTIPO - HEADER */

/* INICIO / NAV LINKS - HEADER */
nav a{
	font-weight: 600;
	padding-right: 10px;
}

nav a:hover{
	color: white;
}

.container-nav-menu {
	display: flex;
	padding-right: 10px;
}

/* FINAL / NAV LINKS - HEADER */

@media (max-width: 412px){
	header{
		flex-direction: column;
	}

	nav{
		padding: 10px 0px;
	}
}

/* ---------FINAL MENU-NAV------------ */


/* -----------INICIO MAIN------------- */

#mi-nombre {
	font-size: 3em;
	font-weight: bold;
	transition: all .35s;
	color: rgb(165, 255, 62);
}

#mi-nombre:hover {
	text-shadow: 0px 0px 20px rgb(164, 230, 89);
}

#text-developer {
	font-size: 2em;
}

#text-fullstack:hover {
	transition: all 1s;
	color: white;
}

/* -----------FINAL MAIN-------------- */


